button{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #2fb634;
}

buttonkill {
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
    background-color: blue;
}